<!DOCTYPE html>
<html>
<head>
    <title>DevOps Portfolio Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>DevOps Portfolio Project</h1>

    <h2>Developer: Thanushan Srisivakumar</h2>

    <div class="card">
        <p>
            This project demonstrates an automated CI/CD pipeline using GitHub Actions, Docker, and GitHub.
        </p>
    </div>

    <div class="card">
        <h3>Technologies Used</h3>
        <ul>
            <li>Linux</li>
            <li>Git & GitHub</li>
            <li>GitHub Actions</li>
            <li>Docker</li>
            <li>Terraform</li>
            <li>Python Flask</li>
        </ul>
    </div>

    <div class="card">
        <h3>Project Goal</h3>
        <p>
            To demonstrate CI/CD automation and DevOps practices in a real-world workflow.
        </p>
    </div>

</div>

</body>
</html>